body{
    margin: 0px;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(45deg, rgb(130, 25, 161), rgb(194, 17, 114),rgb(219, 79, 14));
    color: white;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 0px;
    padding: 0px;
    gap: 0px;
}



main{
    padding: 20px 0px;
    border-radius: 10px;
    text-align: center;
    width: 70vw;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.158);
}

#inputtxt{
    display: flex;
    justify-content:center;
}

#txttarefa{
    border-start-start-radius: 5px;
    border-end-start-radius: 5px;
    list-style-type: none;
    background-color: white;
    color: black;
    width: 360px;
    padding: 20px;
    border: none;
}

input::placeholder{
    font-size: 1.2em;
    font-weight: bold;
    color: rgba(192, 33, 118, 0.356);
}

#txttarefa:focus{
    outline: none;
}

button{
    padding: 20px;
    background-color: white;
    border: none;
    border-start-end-radius: 5px;
    border-end-end-radius: 5px;
    transition: background-color 0.3s;
}

button:hover{
    background-color: rgb(168, 30, 104);
    color: white;
}

ul#listatarefas{
    padding: 0px;
}

li.caixatarefa{
    display: flex;
    justify-content: space-between;
    text-align: start;
    align-items: center;
    font-size: large;
    font-weight: 500;
    list-style-type: none;
    background-color: white;
    color: black;
    width: 450px;
    margin: 0px auto 15px;
    border-radius: 5px;
    box-shadow: 4px 4px 0px rgb(143, 5, 148);
}

li.caixatarefa span{
    margin-left: 15px;
}

li#done{
    background-color: rgb(124, 69, 98);
    color: white;
}

li#done span {
    text-decoration: line-through;
}

.confirm, .delete{
    margin-left: -5px;
    padding: 15px;
    margin-bottom: -3px;
    transition: 0.4s;
}

.confirm:hover{
    background-color: rgb(68, 165, 30);
    padding: 15px;
    margin-bottom: -3px;
}

.delete:hover{
    background-color: red;
    padding: 15px;
    margin-bottom: -3px;
}


